.nav {
  border-bottom: rgba(109, 102, 99, 255) 0.2rem solid;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(50, 49, 43, 255);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-family: "Times New Roman", serif;
  color: rgba(149, 147, 145, 255);
  font-size: 1.2rem;
  font-weight: 500;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #303533;
}
