.background {
  padding: 0;
  margin: 0;
  background-image: url("./background.png");
  background-position: top;
  background-repeat: repeat;
  background-size: contain;
}

.wrap {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(230, 215, 194, 0.9);
  padding: 2rem;
  font-family: "Volkhov", serif;
}
.wrap p {
  text-align: left;
}
#visit {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Volkhov", Helvetica, Arial, "sans-serif";
}
h1,
h2 {
  font-family: "Voolkhov", Helvetica, Arial, "sans-serif";
}
.type {
	background: #FFF9EF;
	border-radius: 3px;
	color: rgba(34,33,33,1.00);
	margin: 2rem auto;
	padding: 15px 20px;
	text-align: center;
	width: 48%;
	font-size: 1.2rem;
}
.responsive {
  width: 90%;
  height: auto;
}
