.modal {
  background: #fad7a0;
  max-height: 90vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* height: 80vh; */

  border: 2px solid #000;
  box-shadow: 2rem;
  padding: 1rem;
  border-radius: 0.7rem;
  outline: 0;
  /* padding-bottom: 20vh; */
}

/* @media only screen and (max-width: 600px) {
  .modal {
    width: 80vw;
  }
  .image {
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 35vw;
  }
} */

.masonryImage {
  background: rgba(67, 67, 67, 0.381);
  box-shadow: inset 0 0 100px black;
  cursor: pointer;
}

.item {
  margin-right: 1rem;
  margin-bottom: 0.4rem;
  padding: 0;
  font-size: 0.7rem;
  text-align: left;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.item__desc {
  padding: 0rem;
  margin: 0;
  margin: 0;
  padding: 0;
}

.quote {
  padding: 0rem;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  color: white;
  font-style: italic;
  font-weight: bold;
}
#quote {
  font-family: "Crete Round", serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.558);
}

.item__desc--title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.image {
  /* display: "block"; */
  width: 100%;
  height: 80%;
  margin: 0 auto;
  padding: 0;
  border-radius: 1rem;
}
.imageContainer {
  /* position: relative;
    text-align: left;
    color: white; */

  align-items: center;
  height: 65%;
  width: 100%;
  border: 0px solid black;
  display: grid;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 50%;
  background-color: rgba(50, 49, 43, 255);
  position: relative;
}
.card img {
  /* height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.card__content {
  position: absolute;
  /* other styles (left, top, right, and padding) */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  size: 1.2rem;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

.button {
  background-color: #3f433f;
  border: none;
  color: white;
  padding: 0.1rem 0rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  width: 20%;
  cursor: pointer;
}

.close {
  background-color: #666766;
}
.pointer {
  cursor: pointer;
}

@media print {
  .button {
    display: none;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;

  margin: auto;
}
.modal-content .image-quote {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.modal-content .image-quote .modal-left {
  max-height: 70vh;
  display: block;
  margin: auto;
  position: relative;
}
.modal-content .image-quote .modal-left img {
  max-height: 70vh;

  display: block;
  margin: auto;
  margin-bottom: 0.7rem;
}
.modal-content .image-quote .modal-right {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
}
.modal-content .image-quote .modal-right .quote {
  margin: auto;
  width: 95%;
}
.modal-content .image-quote .modal-right .quote h2 {
  margin: auto;
  padding: 1.1rem;
  line-height: 2rem;
  font-size: 1.3rem;
  width: 90%;
  color: white;
  transform: rotate(-3deg);
  text-shadow: 0 5px 30px rgba(30, 30, 30, 0.5);
}
.modal-bottom {
}

.modal-content .info h2,
.modal-content .info h3,
.modal-content .info p,
.modal-content .info a,
.modal-content .info li {
  color: rgba(20, 20, 20, 0.7);
}
.user-match-container {
  position: relative;
  padding-top: 22px;
}

.match-owner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
}
.test123 {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  word-wrap: break-word;
  background-color: aquamarine;
}
.info {
  display: block;
  max-width: 100%;
}
.modal-content .info .info-header {
  text-transform: uppercase;
}

.modal-content .info .description {
  margin-bottom: 1rem;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}
.modal-content .info .info-data {
  display: inline;
}
.modal-content .info .other-info {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.modal-content .info .other-info .click-to-show {
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#x {
  position: absolute;
  background: rgb(131, 127, 127);
  color: white;
  top: -1rem;
  right: -1rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  text-align: center;
}

.item p {
  font-family: "Source Sans Pro", sans-serif;
}
