@media print {
  body,
  html {
    padding: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a0a7fa;
    -webkit-print-color-adjust: exact !important;
  }
  nav,
  .nav {
    display: none;
  }
  .full-container,
  .noPrint {
    display: none;
  }
  #button {
    display: none;
  }
  .MuiBackdrop-root {
    display: none;
  }
  [class^="backdrop"] {
    display: none;
  }
  .ember-modal-dialog {
    margin-top: 0;
  }
  .modal-content {
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
    float: none;
  }
  .modal-content .image-quote {
    /* align-items: center !important; */
    justify-content: space-between !important;
    margin-bottom: 1rem !important;
    margin: auto !important;
    float: none;
    margin-bottom: 1rem;
  }
  .modal-content .image-quote .modal-right .quote h2 {
    margin: auto;
    /* padding: 1.1rem;
    line-height: 2rem;
    font-size: 1.3rem; */
    width: 90%;
    color: white;
    transform: rotate(-3deg);
  }
  .item {
    margin-right: 2rem;
    margin-bottom: 0.4rem;
    padding: 0;
    font-size: 0.7rem;
    text-align: left;
  }

  .modal-left {
    max-height: 70vh !important;
    display: block !important;
    margin: auto !important;
    float: none;
  }
  .modal-left img {
    max-height: 60vh !important;
    max-width: 90vw !important;
    display: block !important;
    margin: auto !important;
    float: none;
  }
  .modal-right .quote #quote {
    font-size: 1.3rem;
    padding: 1.1rem;
    line-height: 2rem;

    width: inherit;
  }
  .info h2,
  .info h3,
  .info p,
  .info a,
  .info li {
    color: rgba(20, 20, 20, 0.7);
  }
  .info .info-header {
    font-size: 1.5rem;

    text-transform: uppercase;
  }
  .info .info-data {
    font-size: 28px;
  }
  .info .other-info {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .info .other-info .click-to-show {
    flex: 1;
    margin-right: 1rem;
  }
  .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    display: none;
  }
  .MuiModal-root {
    visibility: hidden;
  }

  .modal {
    background-color: #fad7a0;
    max-height: 90vh;
    max-width: 90vw;
    border: 2px solid #fad7a0;
    visibility: visible;
    border: 100rem solid #fad7a0;
  }
  .item__desc--title {
    margin-top: 1rem;
  }
  .modal-content .image-quote .modal-left img {
    max-height: 70vh;

    display: block;
    margin: auto;
    margin-bottom: 0.7rem;
  }
  #quote {
    font-family: "Crete Round", serif;
  }
  * {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    -print-color-adjust: exact;
  }

  #x {
    display: none;
  }
  .item p {
    font-family: "Source Sans Pro", sans-serif;
  }
}
